body{background-color: #33C7FF;}
h1{font-family: nexa script; font-size: 40px; color: #199AD7; -webkit-text-stroke: 2px #1935C4; }
p{font family: Garamond; font-size: 30px; color: #141111;}
img{boreder-width: 3px; border-style: double; border-color: #2119D7;}
a{font-family: Garamond;color: #141112; font size: 12px; text-decoration: none;}
a:hover{color: blue;}
